.Report {
  height: 100vh;
  &-content{
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    height: 100%;
    padding: 5px;
  }

  &Filter {
    padding: 10px;
    overflow: auto;
    height: calc(100vh - 30px);
    margin-right: 10px;
    
  }
  
  &Export {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    .MuiFormControl-root {
      margin-right: 10px;
    }
  }
  .Table {
    grid-area: 2/1/4/2;
    width: calc(100% - 5px);
    position: relative;
    height: 100%;
    tr {
      width: 100%;
      display: inline-table;
      table-layout: fixed;
    }

    tbody {
      overflow: scroll;
      height: calc(100vh - 200px);
      width: 100%;
      position: absolute;
    }

    tfoot {
      position: absolute;
      top: 100%;
      transform: translateY(-100px);
      width: 100%;
    }
  }

  &-buttons {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    grid-area: 3/1/4/2;
    &-item.MuiButton-containedPrimary {
      margin: 0px 5px;
    }
  }
}
