.Question {
  user-select: none;
  display: grid;
  grid-template-rows: 290px 1fr 50px;
  grid-template-columns: 1fr 350px;
  margin: 5px;
  height: calc(100vh - 50px);

  &-container {
    width: 100%;
    grid-area: 1/1/2/3;
  }
  &-image {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
  &-question {
    user-select: none;
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 5px;
  }

  &-hints_options-container{
    width: 100%;
    display: flex;

  }
}
