.Highlighter-FIB-Code {
  display: inline-block;
  width: 50px;
  background: #4a4a4a;
  border-radius: 3px;
  margin: 2px;
  height: 25px;
  outline: none;
  border: none;
  color: white;
  font-family: "Consolas";
  font-size: 1.15em;
}
