div#root {
  height: 100vh;
}

.App {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Fira Sans";
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  height: 100vh;
  background: #252525;
  color: #eee;
}
